html{
    scroll-behavior:  smooth;
}
body{
    background: rgb(36, 36, 36);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.navigation {
    position: sticky;
    background-color: rgb(26,26,26);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    top: 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    z-index: 15;
}
.nav-left {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.nav-right {
    display: flex;
    gap: 1.5rem;
    grid-column: 3;
    align-items: center;
}
.nav-right li,a{
    color: white;
    text-decoration: none;
}
h1 {
    color: white;
}
header{
    background-color: rgb(26, 26, 26);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
footer{
    padding: 10px 20px;
}
section{
    display: flex;
    flex-direction: row;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 0 20px 0;
}
.contact{
    background: rgb(0, 132, 255);
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.Intro{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    align-items: center;
    
}
.titleName{
    position: absolute;
    top: 40%;
    left: 25%;
    padding-top: 4rem;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 40%;
    height: 20%;
    text-align: center;
    color: white;
    pointer-events: none;
    font-family: 'Courier New', Courier, monospace;;
    background-color: rgb(26,26,26,0.85);
    border-radius: 2.5rem;
    
}
.titleName p1{
font-size: 48px;
    word-spacing: -7px;
    font-weight: 300;
    text-wrap: nowrap;

}
.titleName p4{
    font-size: 32px;
    word-spacing: -7px;
    font-weight: 300;
    text-wrap: nowrap;
    
}

.profilePic{
    width: 50vw;
    position: absolute;
     z-index: 10;
     top: 40%;
    right: 30%;
    transform: translate(50%,-50%);
    clip-path: circle(30%);
    border-color: black;
}
.IntroShutoff{
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 12vh;
    bottom: 0%;
    background-color: rgb(26,26,26);

}

.WelcomeImage{
    height: 100%;
    z-index: -100;
    object-fit: cover;
    object-position: center;
}
.infinite-track{
display: flex;
width: calc(200% + 40px);
animation: scrollHorizontal 20s linear infinite;
}
.infinite-track img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(1rem);
}
@keyframes scrollHorizontal {
    0% { transform: translateX(0);}
    100% { transform: translateX(-200%);}
}

.SeeMore{
    z-index: 10;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    bottom: 10%;
    left: 50%;
}

.scroll-down {
    position: absolute;
    text-decoration: none;
    color: white;
    text-align: center;
    text-wrap: nowrap;
    animation: bobbing 2s infinite ease-in-out;
    
}

.arrow{    
    display: inline-block;
    padding: 5%;
    width: 55%;
    
    margin-top: 10px;
}
@keyframes bobbing {
    0%, 100% { transform: translate(-50%,0);}
    50% {transform: translate(-50%, -15%);}
}


#ProjectPreview{
    width: 100%;
    height: 100vh;
}
.Technomania{
    display: inline-block;
    background-color: rgb(16,16,16);
    width: 100%;
    height: calc(75vh + 10vh);
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    border-radius: 2.5rem 7rem;

}
.Technomania img{
    margin:  2.5%;
    margin:  2.5%;
    height: 75vh;
    border: 3px solid;
    border-color: black;
    
}
